.cabeçalho__menu--hamburgue{
width: 24px;
height: 24px;
background-image: url("../img/Menu.svg");
background-repeat: no-repeat;
background-position: center;
display: inline-block;
}

.cabeçalho{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container__botão:checked~.container__rotulo>.cabeçalho__menu--hamburgue{
    background-image: url("../img/MenuAberto.svg");
}

.container__botão:checked~.container__rotulo{
    background: var(--azul-degrade);
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none ;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botão:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color:white;
}

.lista-menu__titulo{
    color: #EB9B00 ;
    font-weight: 700;
}

.lista--menu__link{
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    text-transform: uppercase;
}

.container__botão, .opções, .container__titulo{
    display: none;
}

@media screen and (min-width: 1024px ){
    .container__titulo, .container__titulo--negrito{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400px;
        display: block;
    }
     
    .container__titulo--negrito{
        font-weight: 700;
    }

    .opções{
        display: flex;
        font-family: 'Josefin Sans', sans-serif;
    }

    .opções__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link{
        text-decoration: none;
        color: #000000
    }

    .opções__icone{
        display: none;
    }

    .cabeçalho__menu--hamburgue{
        display: none
    }

    .opções__botão:checked~.lista-menu{
        display: block;
        width: auto;
    }
    
    .opções__botão{
        display: none
    }

    .opções__botão:checked~.opções__rotulo>.opções__item{
        background: var(--azul-degrade);
        color: white;
    }

    .opções__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
        
    }
    .lista-menu__item:hover>.lista--menu__link{
        -webkit-text-fill-color: white;
    }

};
